@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
    background-color: $card-bg-color-secondary;
    padding-inline: $space-m;
    padding-block-start: $space-xl;
    padding-block-end: $space-l-plus;
    margin-block-start: $space-xl;

    @include tablet {
        padding-inline: $space-l;
    }

    @include desktop {
        margin-block-start: $space-xl-minus;
        padding-inline: $space-xl;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: $space-m-plus;
        margin-block-end: $space-m-minus;
    }

    &__logo-text {
        color: $accent-color;
    }

    &__info {
        width: $footer-info-width;
    }

    &__text {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        margin-block-end: $space-l-plus;
    }

    &__navigation-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: $space-s;
        column-gap: $space-l;
        height: $footer-navigation-height;
    }

    &__navigation-item {
        min-width: $footer-navigation-width;
    }

    &__navigation-header {
        font-size: $text-fs-l;
        line-height: $lh-m;
        font-weight: $fw-m;
        margin-block-end: $space-s;
    }

    &__navigation-link {
        color: $color-primary;
        font-size: $text-fs-xxs;
        line-height: $lh-xxs;
        font-weight: $fw-l;
    }

    &__top {
        margin-block-end: $space-xl;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        @include desktop {
            flex-direction: row;
        }
    }

    &__bottom {
        padding-block-start: $space-l-plus;
        border-top: $border-width-xs solid $separator-color-secondary;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__bottom-text {
        margin-block: 0;
    }
}