@use '../base/variables' as *;

.header {

    &__navigation-link {
        color: $color-primary;
        font-weight: $fw-l;
        font-size: $text-fs-s;
        line-height: $lh-s;
    }

    &__navigation-icon {
        fill: currentColor;
    }

    &__navigation-link--active {
        border-bottom: $border-width-s solid $accent-color;
    }

}