@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {

    position: sticky;
    top: 0;
    left: 0;
    background-color: $body-bg-color;
    z-index: 10;
    padding: $space-m;

    @include desktop {
        padding-block: $space-l-plus;
        padding-inline: $space-xl;
    }

    & .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: $space-m;
    }

    &__left-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: $space-m;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: $space-m-plus;
    }

    &__center-block {
        &.show {
            position: absolute;
            background-color: $body-bg-color;
            top: 100%;
            left: 0;
            display: flex;
            flex-direction: column;
            opacity: 100;
            width: 100%;
            height: 100vh;
            padding: $space-m;
        }

        @include desktop {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;

            &::after {
                content: '';
                display: block;
                width: 2px;
                height: 24px;
                background-color: $separator-color;
                border-radius: $border-radius-xxxxs;
                margin-inline-start: $space-m;
            }
        }
    }

    &__navigation {
        @include desktop {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__navigation-list {
        display: flex;
        flex-direction: column;
        row-gap: $space-s;

        @include desktop {
            flex-direction: row;
        }
    }

    &__navigation-link {
        color: $color-primary;
        font-weight: $fw-l;
        font-size: $text-fs-s;
        line-height: $lh-s;
        padding-block: $space-s;
        padding-inline: $space-l-minus;
        display: inline-flex;
        align-items: center;
        column-gap: $space-s;
    }

    &__navigation-link--active {
        border-bottom: $border-width-s solid $accent-color;
    }

    &__navigation-icon {
        fill: currentColor;
    }

    &__search {
        order: -1;
        margin-block-end: $space-l-plus;

        @include desktop {
            order: 0;
            margin-block-end: 0;
            max-width: $header-search-width;
        }
    }

    &__right-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: $space-m;
    }

    &__controls-button {
        padding: $space-m-minus;

        @include desktop {
            padding-block: $space-s-plus;
            padding-inline: $space-l;
        }
    }

    &__controls .button--primary {
        @include tablet {
            padding-block: $space-s-plus;
            padding-inline: $space-l;
        }
    }

    &__burger {
        display: flex;
        flex-direction: column;
        row-gap: $space-xs;
        padding-block: $space-m-plus;
        padding-inline: $space-m;
        border: $border-width-s solid $separator-color;
        background: transparent;

        &.show-x .header__burger-bar {
            position: relative;
        }

        &.show-x .header__burger-bar-1 {
            transform: rotate(45deg);
            top: 5px;
        }

        &.show-x .header__burger-bar-2 {
            opacity: 0;
        }

        &.show-x .header__burger-bar-3 {
            transform: rotate(-45deg);
            top: -7px;
        }
    }

    &__burger-bar {
        width: 18px;
        height: 2px;
        border-radius: $border-radius-xxxxs;
        background-color: $color-primary;
        transition: .2s ease;
    }

}