@use '../base/variables' as *;

.header {

    padding: $space-l-plus;

    position: sticky;
    top: 0;
    left: 0;
    background-color: $body-bg-color;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        gap: $space-m-plus;
        align-items: center;
    }

    &__navigation-list {
        display: flex;
        align-items: center;
    }

    &__navigation-link {
        color: $color-primary;
        font-weight: $fw-l;
        font-size: $text-fs-s;
        line-height: $lh-s;
        padding-block: $space-s;
        padding-inline: $space-l-minus;
        display: flex;
        align-items: center;
        gap: $space-s;
    }

    &__navigation-icon {
        fill: currentColor;
    }

    &__navigation-link--active {
        border-bottom: $border-width-s solid $accent-color;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: $space-m;

        &::before {
            content: '';
            width: 2px;
            height: 24px;
            background-color: $separator-color;
            border-radius: $border-radius-xxxxs;
        }

        & > *:first-child {
            order: -1;
        }
    }

}