@use '../base/variables' as *;
@use '../base/mixins' as *;

.about {

    padding-block: $space-l-plus;
    padding-inline: $space-m;
    text-align: center;

    @include tablet {
        padding-block: 0 $space-xl;
        padding-inline: $space-l;
    }

    @include desktop {
        padding-block: $space-xl;
        padding-inline: $space-xl;
    }

    &__header {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        margin-block-end: $space-m;

        @include desktop {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__description {
        text-align: center;
        font-size: $text-fs-l;
        line-height: $lh-m;
        font-weight: $fw-m;
        margin-block-end: $space-xl-minus;
    }

    &__list {
        margin-block-end: $space-xl-minus;
    }

    &__button {
        width: 100%;

        @include tablet {
            width: auto;
        }
    }

}