@use '../base/variables' as *;

.article-info {

    margin-block-end: $space-m;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $space-s;

    &::before {
        content: '';
        width: 2px;
        height: 16px;
        background-color: $separator-color;
        border-radius: $border-radius-xxxs;
    }

    & > *:first-child {
        order: -1;
    }

    &__module {
        display: flex;
        gap: $space-s;
    }

    &__author {
        color: $color-secondary;
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
    }

    &__date {
        color: $color-secondary;
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
    }

    &__icon {
        fill: currentColor;
    }
}