@use '../base/variables' as *;

.article-page {
    &__header {
        text-align: left;
    }

    &__text {
        font-size: $text-fs-m;
        line-height: $lh-m;
        color: $color-thirdly;
    }

    &__list-item {
        font-size: $text-fs-m;
        line-height: $lh-m;
    }

    &__link {
        color: $link-color;
        font-weight: $fw-l;
    }

    &__footer-title {
        font-size: $text-fs-s;
        line-height: $lh-s;
    }

}