@use '../base/variables' as *;
@use '../base/mixins' as *;

.article-page {

    max-width: $content-width-s;

    &__title {
        margin-block-end: $space-l-plus;
    }

    &__header {
        text-align: left;
        margin-block-end: $space-m;
    }

    &__category {
        margin-block-end: $space-l-plus;
    }

    &__text {
        font-size: $text-fs-m;
        line-height: $lh-m;
        color: $color-thirdly;
        margin-block-end: $space-l-plus;
    }

    &__list {
        list-style: disc;
        margin-block-end: $space-l-plus;
        padding-inline-start: $space-l-plus;
    }

    &__list-item {
        font-size: $text-fs-m;
        line-height: $lh-m;
    }

    &__icon-list {
        margin-block-end: $space-l-plus;
    }

    &__picture-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: $space-l-plus;
        margin-block-end: $space-l-plus;

        @include tablet {
            flex-direction: row;
            gap: $space-l;
        }

        .picture {
            margin-block-end: 0;

            &__title {
                left: $space-m;
                right: $space-m;
            }
        }
    }

    &__picture-item {
        @include tablet {
            max-width: calc((100% - $space-l)/2);
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: $space-l;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__footer-unit {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        gap: $space-m-minus;
    }

    &__footer-title {
        font-size: $text-fs-s;
        line-height: $lh-s;
    }

    &__sub-header {
        margin-block-end: $space-m;
    }

}