@use '../base/variables' as *;
@use '../base/mixins' as *;

.banner {

    background: radial-gradient(ellipse 50% 30% at 5% 0, rgba($accent-color, 0.5), transparent);

    display: flex;
    align-items: center;

    padding-block: $space-l-plus;
    padding-inline: $space-m;

    @include tablet {
        padding-block: $space-xl;
        padding-inline: $space-l;
    }

    @include desktop {
        justify-content: center;
        padding: 0;
    }

    &__header {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        text-align: left;
        margin-block-start: 0;
        margin-block-end: $space-s;

        @include tablet {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }

        @include desktop {
            font-size: $header-fs-m;
            line-height: $lh-xxxl;
        }
    }

    &__content {
        @include large-desktop {
            width: $banner-width;
        }
    }

    &__header-highlighted {
        color: $accent-color;
    }

    &__text {
        font-size: $text-fs-l;
        line-height: $lh-m;
        font-weight: $fw-m;
        margin-block-end: $space-l-plus;
    }

    &__stats {
        margin-block-end: $space-l-plus;
        display: flex;
        column-gap: $space-xl;
        flex-wrap: wrap;
    }

    &__stats-title {
        font-family: $ff-secondary;
        font-weight: $fw-s;
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        text-shadow: 0 4px 13px $text-shadow-color;
        margin-block-end: $space-xs;

        @include tablet {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
            letter-spacing: $ls-s;
        }

        @include desktop {
            font-size: $header-fs-m;
            line-height: $lh-xxxl;
        }
    }

    &__stats-description {
        font-size: $text-fs-s;
        line-height: $lh-s;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        gap: $space-m;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

}