@use '../base/variables' as *;

.banner {

    background: radial-gradient(ellipse 50% 30% at 5% 0, rgba($accent-color, 0.5), transparent);

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: $banner-width;
    }

    &__header {
        text-align: left;
        margin-block-start: 0;
        margin-block-end: $space-s;
    }

    &__header-highlighted {
        color: $accent-color;
    }

    &__text {
        font-size: $text-fs-l;
        line-height: $lh-m;
        font-weight: $fw-m;
        margin-block-end: $space-l-plus;
    }

    &__stats {
        margin-block-end: $space-l-plus;
        display: flex;
        column-gap: $space-xl;
        flex-wrap: wrap;
    }

    &__stats-title {
        font-family: $ff-secondary;
        font-weight: $fw-s;
        font-size: $header-fs-m;
        line-height: $lh-xxxl;
        letter-spacing: $ls-s;
        text-shadow: 0 4px 13px $text-shadow-color;
    }

    &__stats-description {
        font-size: $text-fs-s;
        line-height: $lh-s;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        column-gap: $space-m;
    }

}