@use '../base/variables' as *;

.banner {

    background: radial-gradient(ellipse 50% 30% at 5% 0, rgba($accent-color, 0.5), transparent);

    &__header {
        text-align: left;
    }

    &__header-highlighted {
        color: $accent-color;
    }

    &__text {
        font-size: $text-fs-l;
        line-height: $lh-m;
        font-weight: $fw-m;
    }

    &__stats-title {
        font-family: $ff-secondary;
        font-weight: $fw-s;
        font-size: $header-fs-m;
        line-height: $lh-xxxl;
        letter-spacing: $ls-s;
    }

    &__stats-description {
        font-size: $text-fs-s;
        line-height: $lh-s;
    }
}