@use '../base/variables' as *;

.blockquote {
    background-color: $blockquote-bg-color;
    border-radius: 16px;
    padding-block: $space-m;
    padding-inline: $space-m;
    margin-block-end: $space-l-plus;

    &__text {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        font-family: $ff-secondary;
        -webkit-text-stroke: 1px $blockquote-stroke-color;
        text-shadow: 0 4px 4px $blockquote-shadow-color;
        margin-block-end: $space-s;
    }

    &__cite {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
        font-style: normal;
    }

    &__cite-icon {
        fill: $blockquote-icon-color;
        margin-inline-end: $space-s;
    }

    &__cite-grade {
        margin-inline-end: $space-s;
    }

}