@use '../base/variables' as *;
@use '../base/mixins' as *;

.blockquote {
    background-color: $blockquote-bg-color;
    border-radius: 16px;
    padding: $space-m;
    margin-block-end: $space-l-plus;

    &__text {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        font-family: $ff-secondary;
        margin-block-end: $space-s;

        @include desktop {
            -webkit-text-stroke: 1px $blockquote-stroke-color;
            text-shadow: 0 4px 4px $blockquote-shadow-color;
        }
    }

    &__cite {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
        font-style: normal;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: $space-s;
    }

    &__cite-icon {
        fill: $blockquote-icon-color;
    }

}