@use '../base/variables' as *;
@use '../base/mixins' as *;

.blog-article {

    width: auto;
    padding: $space-m;

    background-color: $card-bg-color;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    @include tablet {
        padding: $space-l;
    }

    &__image {
        margin-block-end: $space-m;

        @include tablet {
            margin-block-end: $space-l;
        }
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        letter-spacing: $ls-s;
        font-weight: $fw-s;
        text-align: left;

        @include tablet {
            font-size: $text-fs-xxl;
            line-height: $lh-xl;
        }

        @include desktop {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__description {
        font-size: $text-fs-s;
        line-height: $lh-s;
        margin-block-end: $space-m;
        text-align: left;
    }

    &__label {
        position: absolute;
        top: $space-xl-minus;
        right: $space-xl-minus;
    }
}