@use '../base/variables' as *;

.blog-article {
    background-color: $card-bg-color;
    padding: $space-l;

    &__image {
        margin-block-end: $space-l;
    }

    &__header {
        font-size: $header-fs-s;
        line-height: $lh-xxl;
        font-family: $ff-secondary;
        letter-spacing: $ls-s;
        font-weight: $fw-s;
    }

    &__description {
        font-size: $text-fs-s;
        line-height: $lh-s;
        margin-block-end: $space-m;
    }
}