@use '../base/variables' as *;

.blog {

    padding-block: $space-xl;

    &__header {
        margin-block-end: $space-xl-minus;
    }

    &__list {
        margin-block-end: $space-xl-minus;
    }

}