@use '../base/variables' as *;
@use '../base/mixins' as *;

.blog {

    padding-block: $space-l-plus;
    text-align: center;

    @include tablet {
        padding-block: 0 $space-xl;
    }

    @include desktop {
        padding-block: $space-xl;
    }

    &__header {
        margin-block-end: $space-xl-minus;
        font-size: $text-fs-xxl;
        line-height: $lh-xl;

        @include desktop {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, $card-width-mobile);
        gap: $space-m;
        overflow-x: scroll;
        margin-block-end: $space-xl-minus;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            overflow-x: auto;
            gap: $space-l;
        }

        @include desktop {
            gap: $space-l-plus;
        }
    }

    &__button {
        width: 100%;

        @include desktop {
            width: auto;
        }
    }

    &__item--large {
        @include desktop {
            grid-row: span 2;
        }
    }

}