@use '../base/variables' as *;

.blockquote {
    background-color: $blockquote-bg-color;
    border-radius: 16px;

    &__text {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        font-family: $ff-secondary;
        -webkit-text-stroke: 1px $blockquote-stroke-color;
        text-shadow: 0 4px 4px $blockquote-shadow-color;
    }

    &__cite {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
        font-style: normal;
    }

    &__cite-icon {
        fill: $blockquote-icon-color;
    }
}