@use '../base/variables' as *;
@use '../base/mixins' as *;

.button {

    border: $border-width-s solid $separator-color;
    font-size: $text-fs-s;
    line-height: $lh-s;
    font-weight: $fw-l;
    background-color: transparent;
    color: $color-primary;
    padding-block: $space-s;
    padding-inline: $space-l-minus;
    outline: $border-width-s solid transparent;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: $space-s;

    @include transition((background-color, border-color, outline-color, color));

    @include hover {
        border-color: $separator-color-secondary;
        background-color: $separator-color-secondary;
    }

    &:active {
        border-color: $separator-color-secondary;
        background-color: $separator-color-secondary;
    }

    &:focus {
        border-color: $accent-color-focus;
        outline-color: $accent-color-focus;
        background-color: $separator-color-secondary;
    }

    &:disabled {
        border-color: $separator-color-disabled;
        background-color: $background-color-disabled;
        color: $separator-color-disabled;
    }

    &__icon {
        fill: currentColor;
    }

}

.button--primary {
    border-color: transparent;
    background-color: $accent-color;

    @include hover {
        background-color: $accent-color-focus;
    }

    &:focus {
        border-color: $accent-color-focus;
        outline-color: $accent-color-focus;
        background-color: $accent-color;
    }

    &:active {
        border-color: transparent;
        background-color: $accent-color-active;
    }

    &:disabled {
        background-color: $background-color-disabled;
        color: $separator-color-disabled;
    }

}

.button--alternative {
    color: $body-bg-color;
    border-color: transparent;
    background-color: $base-invert-color;

    @include hover {
        background-color: $base-alternative-color;
    }

    &:focus {
        border-color: $accent-color-focus;
        outline-color: $accent-color-focus;
        background-color: $base-invert-color;
    }

    &:active {
        color: $color-primary;
        background-color: $separator-color-disabled;
    }

    &:disabled {
        color: $separator-color-disabled;
        background-color: $background-color-disabled;
        border-color: transparent;
    }
}

.button--large {
    font-size: $text-fs-m;
    line-height: $lh-m;
    padding-block: $space-s-plus;
    padding-inline: $space-l;
}


.button--small {
    font-size: $text-fs-xs;
    line-height: $lh-xs;
    padding-block: $space-s-minus;
    padding-inline: $space-m-minus;
}

.button--accent-text {
    color: $body-bg-color;
}


.button--icon {
    padding: $space-s;
}


.button--icon.button--large {
    padding: $space-m-minus;
}