@use '../base/variables' as *;

.button {
    
    border: $border-width-s solid $separator-color;
    font-size: $text-fs-s;
    line-height: $lh-s;
    font-weight: $fw-l;
    background-color: transparent;
    color: $color-primary;
    padding-block: $space-s;
    padding-inline: $space-l-minus;

    display: inline-flex;
    align-items: center;
    column-gap: $space-s;

    &:hover,
    &:active {
        border: $border-width-s solid $separator-color-secondary;
        background-color: $separator-color-secondary;
    }

    &:focus {
        border: $border-width-l solid $accent-color-focus;
        background-color: $separator-color-secondary;
    }

    &:disabled {
        border: $border-width-s solid $separator-color-disabled;
        background-color: $background-color-disabled;
    }

    &__icon {
        fill: currentColor;
    }

}

.button--primary {
    border-color: transparent;
    background-color: $accent-color;

    &:hover {
        background-color: $accent-color-focus;
    }

    &:focus {
        border: $border-width-l solid $accent-color-focus;
        background-color: $accent-color;
    }

    &:active {
        border-color: transparent;
        background-color: $accent-color-active;
    }

    &:disabled {
        background-color: $background-color-disabled;
        color: $separator-color-disabled;
    }

}

.button--large {
    font-size: $text-fs-m;
    line-height: $lh-m;
    padding-block: $space-s-plus;
    padding-inline: $space-l;
}


.button--small {
    font-size: $text-fs-xs;
    line-height: $lh-xs;
    padding-block: $space-s-minus;
    padding-inline: $space-m-minus;
}

.button--accent-text {
    color: $body-bg-color;
}


.button--icon {
    padding: $space-s;
}


.button--icon.button--large {
    padding: $space-m-minus;
}