@use '../base/variables' as *;

.card-hover {

    &:hover {
        background-image: url(../../assets/images/card-hover/hover-top.png), url(../../assets/images/card-hover/hover-bottom.png);
        background-repeat: no-repeat;
        background-position: top left, right bottom;
    }

}