@use '../base/variables' as *;

.catalog-full {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-end: $space-l-plus;
    }

    &__controls {
        display: flex;
        align-items: center;
        column-gap: $space-m;
    }

    &__header {
        text-align: left;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $space-l-plus;
        justify-content: start;
        justify-items: start;
        align-items: start;
        margin-block-end: $space-l-plus;
    }

    &__button {
        width: 100%;
    }

}