@use '../base/variables' as *;
@use '../base/mixins' as *;

.catalog-filter {

    @include desktop {
        width: $catalog-sidebar-width;
    }

    &__filter-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-s-plus;
    }

    &__filter-button::after {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M6 12H18M3 6H21M9 18H15' stroke='%23F5F8FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        width: 24px;
        height: 24px;
    }

    &__toggler {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    &__toggler:checked+&__filter-button::after {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z' fill='%23F5F8FB'/></svg>");
        width: 24px;
        height: 24px;
    }

    &__toggler:checked~&__sidebar {
        opacity: 1;
        width: auto;
        height: auto;
        position: static;
        overflow: visible;
        z-index: 0;
    }

    &__sidebar {
        margin-block-start: $space-l-minus;

        @include desktop {
            margin-block-start: 0;
        }
    }

    &__fieldset {
        background-color: $card-bg-color;
        border: none;
        padding: $space-l;
        margin-block-end: $space-l-minus;
    }

    &__title {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
    }

    &__options {
        margin-block-start: $space-m;
        padding-block-start: $space-m;
    }

    &__button {
        width: 100%;
    }

    & .field-checkbox,
    .field-radio {
        margin-block-end: $space-s;
    }

}