@use '../base/variables' as *;
@use '../base/mixins' as *;

.catalog {

    padding-block: $space-l-plus;
    padding-inline: $space-m;

    @include tablet {
        padding-block: 0 $space-xl;
        padding-inline: $space-l;
    }

    @include desktop {
        padding: $space-xl;
    }

    &__title {
        margin-block-end: $space-xl-minus;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: $space-l-plus;

        &::before {
            content: '';
            height: 2px;
            flex-grow: 1;
            background-color: $separator-color;
            border-radius: $border-radius-xxxs;
        }

        &>*:first-child {
            order: -1;
        }

        @include tablet {
            flex-wrap: nowrap;
        }
    }

    &__header {
        text-align: left;
        font-size: $text-fs-xl;
        line-height: $lh-l;
        display: flex;
        align-items: center;
        column-gap: $space-s;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        column-gap: $space-m;
        width: 100%;

        &::before {
            content: '';
            width: 2px;
            height: 24px;
            background-color: $separator-color;
            border-radius: $border-radius-xxxxs;
        }

        &>*:first-child {
            order: -1;
            flex-grow: 1;
        }

        @include tablet {
            width: auto;
        }
    }

    & .product-item {
        height: 100%;
    }

}