@use '../base/variables' as *;

.catalog {

    padding-block: $space-xl;

    &__title {
        margin-block-end: $space-xl-minus;
    }

    &__header {
        text-align: left;
        font-size: $text-fs-xl;
        line-height: $lh-l;
    }

    &__item {
        background-color: $card-bg-color;
    }

    &__controls-button {
        margin-inline-start: $space-m;
    }

}
