@use '../base/variables' as *;
@use '../base/mixins' as *;

.contacts-info {

    padding-block: $space-m;

    @include tablet {
        padding-block: $space-l-plus;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: $space-m;
    }

    &__item {
        flex-basis: $contacts-info-item-width-m;

        @include tablet {
            flex-basis: $contacts-info-item-width-s;
        }

        @include desktop {
            flex-basis: $contacts-info-item-width-m;
        }
    }

    &__block {
        border: $border-width-xs solid $check-color;
        fill: $color-primary;
        text-align: center;
        padding-block: $space-l;
        padding-inline: $space-m;

        @include tablet {
            padding-block: $space-xl-minus;
            padding-inline: $space-l-plus;
        }
    }

    &__icon {
        margin-block-end: $space-m;

        @include tablet {
            margin-block-end: $space-l;
        }
    }

    &__title {
        font-size: $text-fs-xl;
        line-height: $lh-l;

        @include tablet {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__description {
        font-size: $text-fs-s;
        line-height: $lh-s;
        color: $color-secondary;
    }

}