@use '../base/variables' as *;

.contacts-info {

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: $space-m;
    }

    &__item {
        flex-basis: $contacts-info-item-width;
    }

    &__block {
        border: $border-width-xs solid $check-color;
        fill: $color-primary;
        text-align: center;
        padding-block: $space-xl-minus;
        padding-inline: $space-l-plus;
    }

    &__icon {
        margin-block-end: $space-l;
    }

    &__description {
        font-size: $text-fs-s;
        line-height: $lh-s;
        color: $color-secondary;
    }

}