@use '../base/variables' as *;
@use '../base/mixins' as *;

.contacts-form {

    padding-block-start: $space-m;
    
    @include tablet {
        padding-block-start: $space-l-plus;
        padding-block-end: $space-xl-minus;
    }

    &__header {
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        color: $color-thirdly;
        margin-block-end: $space-s;

        @include tablet {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__description {
        text-align: center;
        font-weight: $fw-m;
        font-size: $text-fs-l;
        line-height: $lh-m;
        color: $color-secondary;
        margin-block-end: $space-xl-minus;
    }

    &__content {
        max-width: $contact-form-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: $space-l;
    }

    & .link {
        font-weight: $fw-s;
    }

    &__field .field-textarea__input {
        height: $textarea-height;
    }

    .label-default {
        margin-block-end: $space-xs;
        display: inline-block;
    }

    .label-radio, .label-checkbox {
        margin-block-end: 0;
    }

}
