@use '../base/variables' as *;
@use '../base/mixins' as *;

.content-wrapper {
    max-width: $content-width-m;
    margin-inline: auto;
}

.content-wrapper--blogpage {
    display: flex;
    flex-direction: column;
    padding: $space-m;

    @include tablet {
        padding: $space-l;
    }

    @include desktop {
        flex-direction: row;
        column-gap: $space-l-plus;
        justify-content: center;
        align-items: flex-start;
        padding: $space-xl;
    }

    @include large-desktop {
        padding: 0;
    }

}

.content-wrapper--catalogpage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: $space-xl;
}