@use '../base/variables' as *;
@use '../base/mixins' as *;

.counted-list {

    // list-style: auto;

    counter-reset: list-counter 0;

    display: grid;
    justify-content: stretch;
    align-items: stretch;

    gap: $space-m;

    @include tablet {
        gap: $space-l-plus;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }

    @include large-desktop {
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        background-color: $card-bg-color-secondary;
        padding-block-start: $space-xl;
        padding-block-end: $space-l;
        padding-inline: $space-l;
        text-align: left;
        position: relative;

        counter-increment: list-counter 1;

        &::before {
            content: counter(list-counter, decimal-leading-zero);
            position: absolute;
            left: $space-l;
            top: $space-s-plus;
            font-size: 80px;
            font-family: $ff-secondary;
            -webkit-text-stroke: 2px rgb(2 101 220 / 50%);
            color: transparent;

            @include tablet {
                left: $space-l-plus;
            }
        }

        @include tablet {
            padding-block-end: $space-l-plus;
            padding-inline: $space-l-plus;
        }

        &:last-child {
            @include desktop {
                grid-column: span 3;
            }

            @include large-desktop {
                grid-column: auto;
            }
        }
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
        margin-block-end: $space-l;
        position: relative;
        z-index: 1;
    }

    &__description {
        color: $color-secondary;
        font-size: $text-fs-m;
        line-height: $lh-m;
    }

    
}