@use '../base/variables' as *;

.counted-list {

    list-style: auto;

    &__item {
        background-color: $card-bg-color-secondary;
        padding-block: $space-l-plus;
        padding-inline: $space-l-plus;
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
        margin-block-end: $space-l;
    }

    &__description {
        color: $color-secondary;
        font-size: $text-fs-m;
        line-height: $lh-m;
    }
}