@use '../base/variables' as *;
@use '../base/mixins' as *;

.counted-list {

    list-style: auto;

    display: grid;
    justify-content: start;
    align-items: start;

    gap: $space-m;

    @include tablet {
        gap: $space-l-plus;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }

    @include large-desktop {
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        background-color: $card-bg-color-secondary;
        padding: $space-l;
        text-align: left;

        @include tablet {
            padding: $space-l-plus;
        }

        &:last-child {
            @include desktop {
                grid-column: span 3;
            }

            @include large-desktop {
                grid-column: auto;
            }
        }
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
        margin-block-end: $space-l;
    }

    &__description {
        color: $color-secondary;
        font-size: $text-fs-m;
        line-height: $lh-m;
    }

    
}