@use '../base/variables' as *;
@use '../base/mixins' as *;

.faq {

    padding-block: $space-l-plus 0;

    @include tablet {
        padding-block: 0;
    }

    @include desktop {
        padding-block: $space-xl;
    }

    &__header {
        margin-block-end: $space-xl-minus;
        font-size: $text-fs-xxl;
        line-height: $lh-xl;

        @include desktop {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__item {
        background-color: $card-bg-color;
        padding: $space-m;


        &:not(:last-child) {
            margin-block-end: $space-l;
        }

        @include tablet {
            padding: $space-l;
        }
    }

    &__question {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
    }

    &__answer {
        font-size: $text-fs-s;
        line-height: $lh-s;
        margin-block-start: $space-l;
        padding-block-start: $space-m;
    }

    &__answer {
        a {
            color: $accent-color;
        }
    }

}