@use '../base/variables' as *;
@use '../base/mixins' as *;

.field-radio {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: $space-s;

    &__input {
        appearance: none;
        width: $radio-size;
        height: $radio-size;
        border-radius: $radio-size;
        border: $border-width-s solid $check-color;
        background-color: $body-bg-color;
        outline: $border-width-s solid transparent;

        @include transition((border-color, border-width, outline-color, outline-offset, background-color));

        &:checked {
            border-color: $accent-color;
            border-width: $border-width-xl;
        }

        @include hover {
            background-color: $card-bg-color;

            &:checked {
                border-color: $accent-color-focus;
            }
        }

        &:active {
            border-color: $check-active-border;
            border-width: $border-width-xl;

            &:checked {
                border-color: $check-active-border;
                border-width: $border-width-xl;
            }
        }

        &:focus {
            border-color: $placeholder-color;
            border-width: $border-width-s;
            outline-color: $accent-color-focus;
            outline-offset: 1px;

            &:checked {
                border-color: $accent-color-focus;
                border-width: $border-width-xl;
                outline-color: $accent-color-focus;
                outline-offset: 1px;
            }
        }

        &:disabled {
            border-color: transparent;
            background-color: $background-color-disabled;

            &:checked {
                border-color: $check-color;
                background-color: $background-color-disabled;
            }
        }

        &:user-invalid {
            border-color: $negative-color;
        }

    }

}