@use '../base/variables' as *;

.field-textarea {

    &__input {
        resize: none;

        &::placeholder {
            color: $placeholder-color;
        }

        &:focus {
            outline: $border-width-l solid $textarea-focus;
            border: none;
        }
    }

    label {
        margin-block-end: $space-xs;
        display: inline-block;
    }

}