@use '../base/variables' as *;

.field-toggle {

    margin-block-end: 8px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    & label {
        display: flex;
        align-items: center;
        column-gap: $space-s;
        position: relative;

        &::before {
            content: '';
            width: $toggle-width;
            height: $toggle-height;
            background-color: $separator-color-disabled;
            border-radius: $border-radius-m;
        }

        &::after {
            content: '';
            position: absolute;
            width: $toggle-circle-size;
            height: $toggle-circle-size;
            left: calc(($toggle-height - $toggle-circle-size) / 2);
            top: calc(($toggle-height - $toggle-circle-size) / 2);
            background-color: $color-primary;
            border-radius: $toggle-circle-size;
        }
    }

    & input:checked + label {
        &::before {
            background-color: $accent-color;
        }

        &::after {
            left: calc(($toggle-width - $toggle-circle-size) - (($toggle-height - $toggle-circle-size) / 2));
        }
    }
}