@use '../base/variables' as *;

.icon-list {

    &__item {
        font-size: $text-fs-m;
        line-height: $lh-m;
        margin-block-end: $space-s-plus;
        display: flex;
        align-items: center;
        column-gap: $space-s;
    }

    &__item::before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 23.5px;
        background-image: url(../../assets/logos/logo.svg);
        background-size: contain;
    }

}