@use '../base/variables' as *;
@use '../base/mixins' as *;

.input-default {

    border: $border-width-s solid $separator-color;
    background-color: transparent;
    color: $color-primary;
    font-size: $text-fs-xs;
    line-height: $lh-xs;
    padding-block: $space-s-plus;
    padding-inline: $space-m-minus;
    width: 100%;

    &::placeholder {
        color: $placeholder-color;
    }

    @include hover {
        border-color: $accent-color-focus;
    }

    &:focus {
        border: $border-width-m solid $accent-color-focus;
    }
    
    &:user-invalid {
        border-color: $negative-color;
    }

    &:disabled {
        background-color: $separator-color-secondary;
    }
}