@use '../base/variables' as *;
@use '../base/mixins' as *;

    .link {
        color: $link-color;
        font-weight: $fw-l;

        @include hover {
            color: $accent-color-focus;
        }

        &:focus {
            outline: $border-width-l solid $accent-color-focus;
            border-radius: $border-radius-s;
        }

        &:active {
            color: $accent-color-active;
        }

        &--disabled {
            color: $separator-color-disabled;
        }
    }