@use '../base/variables' as *;
@use '../base/mixins' as *;

.person-card {

    background-color: $card-bg-color;
    text-align: center;
    padding: $space-m;
    width: $card-width-mobile;

    display: flex;
    flex-direction: column;
    row-gap: $space-m;

    @include tablet {
        padding: $space-l-plus;
    }

    @include desktop {
        width: $card-width;
    }

    &__name {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
    }

    &__role {
        color: $color-secondary;
        font-size: $text-fs-m;
        line-height: $lh-m;
    }

    &__socials {
        justify-content: center;
    }

}