@use '../base/variables' as *;

.picture {

    margin-block-end: $space-l-plus;

    &__title {
        font-size: $text-fs-s;
        line-height: $lh-s;
        font-weight: $fw-m;
        color: $color-thirdly;
    }
}