@use '../base/variables' as *;

.product-item {

    padding: $space-l;
    position: relative;
    background-color: $card-bg-color;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__picture-wrapper {
        width: 100%;
    }

    &__picture {
        margin-block-end: $space-m;
        width: 100%;
    }

    &__price {
        font-family: $ff-secondary;
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        margin-block-end: $space-s;
    }

    &__name {
        font-family: $ff-primary;
        font-weight: $fw-m;
        font-size: $text-fs-l;
        line-height: $lh-m;
        color: $color-secondary;
    }

    &__label {
        position: absolute;
        top: $space-xl-minus;
        right: $space-xl-minus;
    }
}