@use '../base/variables' as *;

.product-item {

    padding: $space-l;

    &__picture {
        margin-block-end: $space-l;
    }

    &__price {
        font-family: $ff-secondary;
        font-size: $header-fs-s;
        line-height: $lh-xxl;
        letter-spacing: $ls-s;
        margin-block-end: $space-s;
    }

    &__name {
        font-family: $ff-primary;
        font-weight: $fw-m;
        font-size: $text-fs-l;
        line-height: $lh-m;
        color: $color-secondary;
    }
}