@use '../base/variables' as *;
@use '../base/mixins' as *;

.product-item {

    padding: $space-m;
    position: relative;
    background-color: $card-bg-color;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
        padding: $space-l;
    }

    &__picture-wrapper {
        width: 100%;
    }

    &__picture {
        margin-block-end: $space-m;
        width: 100%;

        @include tablet {
            margin-block-end: $space-l;
        }
    }

    &__price {
        font-family: $ff-secondary;
        font-size: $text-fs-xxl;
        line-height: $lh-xl;
        margin-block-end: $space-s;

        @include tablet {
            font-size: $header-fs-s;
            line-height: $lh-xxl;
        }
    }

    &__name {
        font-family: $ff-primary;
        font-weight: $fw-m;
        font-size: $text-fs-l;
        line-height: $lh-m;
        color: $color-secondary;
    }

    &__label {
        position: absolute;
        top: $space-xl-minus;
        right: $space-xl-minus;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgb(13 13 21 / 60%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-l;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__overlay-button {
        min-width: 60%;
    }
}