@use '../base/variables' as *;
@use '../base/mixins' as *;

.search {

    border: $border-width-s solid $separator-color;
    outline: $border-width-xs solid transparent;
    background-color: transparent;
    padding: $space-m-minus;

    display: flex;
    align-items: center;
    column-gap: $space-s;

    @include transition((border-color, outline-color, background-color));

    &__button {
        background-color: transparent;
        border: none;
    }

    &__button-icon {
        fill: $color-primary;
        display: block;
    }

    &__input {
        color: $color-primary;
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        background-color: transparent;
        border: none;
    }

    &__input::placeholder {
        color: $placeholder-color;
    }

    @include hover {
        border-color: $accent-color-focus;
    }

    &:focus {
        border-color: $accent-color-focus;
        outline-color: $accent-color-focus;
    }

    &:has(&__input:user-invalid) {
        border-color: $negative-color;
    }

    &:has(&__input[disabled]) {
        background-color: $separator-color-secondary;
    }
}