@use '../base/variables' as *;

.select {

    background-color: $body-bg-color;
    color: $color-primary;
    font-size: $text-fs-xs;
    line-height: $lh-xs;

    option {
        background-color: $dropdown-bg-color;
        color: $color-primary;
    }

    &:hover {
        background-color: $separator-color-secondary;
        border: $border-width-l solid $accent-color-focus;
        color: $accent-color-focus;
    }

    &:focus {
        background-color: $separator-color-secondary;
        border: $border-width-l solid $accent-color-focus;
        color: $color-primary;
    }

    &:disabled {
        background-color: $separator-color;
        border-color: transparent;
    }

}