@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar-categories {

    background-color: $card-bg-color;
    padding: $space-m;
    margin-block-end: $space-l-minus;

    @include tablet {
        padding: $space-l;
    }

    @include desktop {
        width: $blog-sidebar-width;
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
        padding-block-end: $space-m;
        border-bottom: 1px solid $separator-color-secondary;
    }

    &__list {
        margin-block-start: $space-m;
    }

    &__item {
        padding-block: $space-s-minus;
        padding-inline: $space-m-minus;
    }

    &__item:not(:last-child) {
        margin-block-end: $space-s;
    }

    &__link {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
        color: $color-primary;
    }
}