@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar {

    margin-block-end: $space-xl-minus;

    @include desktop {
        position: sticky;
        left: 0;
        top: 20vh;
        z-index: 1;
    }

}