@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar-tags {

    background-color: $card-bg-color;
    padding: $space-m;

    @include tablet {
        padding: $space-l;
    }

    @include desktop {
        width: $blog-sidebar-width;
    }

    &__header {
        font-size: $text-fs-xl;
        line-height: $lh-l;
        font-family: $ff-secondary;
        font-weight: $fw-s;
        padding-block-end: $space-m;
        border-bottom: $border-width-xs solid $separator-color-secondary;
    }

    &__list {
        margin-block-start: $space-m;
        display: flex;
        justify-content: flex-start;
        gap: $space-s;
        flex-wrap: wrap;
    }

    &__link {
        font-size: $text-fs-xs;
        line-height: $lh-xs;
        font-weight: $fw-l;
    }
}