@use '../base/variables' as *;
@use '../base/mixins' as *;

.socials {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-s;

    &__item {
        padding: $space-s;

        @include hover {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
        }
    }

    &__item-icon {
        fill: currentColor;
        display: block;
    }

    &__item-link {

        @include transition(color);

        @include hover {
            color: $accent-color-focus;
            
        }
    }

}