@use '../base/variables' as *;
@use '../base/mixins' as *;

.socials {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-s;

    &__item {
        padding: $space-s;
    }

    &__item-icon {
        fill: currentColor;
        display: block;
    }

    &__item-link {
        @include hover {
            color: $accent-color-focus;
        }
    }

}