@use '../base/variables' as *;
@use '../base/mixins' as *;

.global-card-hover {

    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url(../../assets/images/card-hover/hover-top.png), url(../../assets/images/card-hover/hover-bottom.png);
        background-repeat: no-repeat;
        background-position: top left, right bottom;
        opacity: 0;
        pointer-events: none;

        @include transition(opacity);
    }

    @include hover {
        &::after {
            opacity: 1;
        }
    }

}