body {
    font-family: 'Poppins', 'Arial', sans-serif;
    background-color: #0D0D15;
    color: #F8F7FF;
}

.page-header {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
}

.section-header {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

.sub-header {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.button {
    border: 2px solid #D0D7FB2B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    color: #F5F8FB;
}

.button--large {
    font-size: 18px;
    line-height: 28px;
}

.button--small {
    font-size: 14px;
    line-height: 20px;
}

.button--primary {
    border: 2px solid #0265DC;
    background-color: #0265DC;
}

.item-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #0265DC;
    background-color: #F5F8FB;
}

.item-label--accent {
    background-color: #EA3829;
    color: #F5F8FB;
}

a {
    color: #F8F7FF;
    text-decoration: none;
}

.header__navigation-list {
    list-style: none;
}

.header__navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header__navigation-link--active {
    border-bottom: 2px solid #0265DC;
}

.header__controls-search {
    color: #E7EEF7A8;
    border: 2px solid #D0D7FB2B;
    background-color: #0D0D15;
    font-size: 14px;
    line-height: 20px;
}

.banner__header {
    text-align: left;
}

.banner__header-highlighted {
    color: #0265DC;
}

.banner__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.banner__stats-title {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
}

.banner__stats-description {
    font-size: 16px;
    line-height: 24px;
}

.catalog__header {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
}

.catalog__list {
    list-style: none;
}

.catalog__item {
    background-color: #1D1C28;
}

.product-item__price {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.product-item__name {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;   
    font-size: 20px;
    line-height: 28px;
    color: #EFF5FAD1;
}

.blog__list {
    list-style: none;
}

.blog-article {
    background-color: #1D1C28;
}

.article-info__author, .article-info__date {
    color: #EFF5FAD1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.blog-article__header {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.blog-article__description {
    font-size: 16px;
    line-height: 24px;
}

.about__description {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.counted-list__item {
    background-color: #1A1925;
}

.counted-list__header {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-weight: 400;
}

.counted-list__description {
    color: #EFF5FAD1;
    font-size: 18px;
    line-height: 28px;
}

.team__list {
    list-style: none;
}

.person-card {
    background-color: #1D1C28;
    text-align: center;
}

.person-card__name {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-weight: 400;
}

.person-card__role {
    color: #EFF5FAD1;
    font-size: 18px;
    line-height: 28px;
}

.socials {
    list-style: none;
}

.faq__item {
    background-color: #1D1C28;
}

.faq__question {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
}

.faq__answer {
    font-size: 16px;
    line-height: 24px;
}

.faq__answer a {
    color: #0265DC;
}

.footer {
    background-color: #1A1925;
}

.footer__text {
    font-size: 14px;
    line-height: 20px;
}

.footer__navigation-header {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.footer__navigation-list {
    list-style: none;
}

.footer__navigation-link {
    color: #F5F8FB;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

.breadcrumbs__list {
    list-style: none;
}

.breadcrumbs__item-link {
    color: #F5F8FB;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.breadcrumbs__item--active {
    color: #E7EEF7A8;
}

.sidebar section {
    background-color: #1D1C28;
}

.sidebar-categories__header, .sidebar-tags__header {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-weight: 400;
}

.sidebar-categories__list, .sidebar-tags__list {
    list-style: none;
}

.sidebar-categories__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.picture__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #F8F7FF;
}

.article-page__header {
    text-align: left;
}

.article-page__text {
    font-size: 18px;
    line-height: 28px;
    color: #F8F7FF;
}

.article-page__list-item, .icon-list__item {
    font-size: 18px;
    line-height: 28px;
}

.icon-list {
    list-style: none;
}

.blockquote {
    background-color: #002754;
    border-radius: 16px;
}

.blockquote__text {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Bakbak one', 'Verdana', sans-serif;
}

.blockquote__cite {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
}

.picture-list {
    list-style: none;
}

.article__link {
    color: #78BBFA;
    font-weight: 600;
}

.article-page__footer-title {
    font-size: 16px;
    line-height: 24px;
}