<blockquote class="blockquote">
	<p class="blockquote__text">{{ blog.article.blockquote.text }}</p>
	<cite class="blockquote__cite">
		<img src="{{ blog.article.blockquote.img_src }}" alt="star">
		{{ blog.article.blockquote.grade }}
		{{ blog.article.blockquote.cite }}
	</cite>
</blockquote>
