{% from "ui/icon.twig" import icon %}

<blockquote class="blockquote">
	<p class="blockquote__text">{{ blog.article.blockquote.text }}</p>
	<cite class="blockquote__cite">
		{{ icon ("blockquote__cite-icon", "stars", 16, 16) }}
		{{ blog.article.blockquote.grade }}
		{{ blog.article.blockquote.cite }}
	</cite>
</blockquote>