<aside class="sidebar">

	<form action="{{ catalog.sidebar_action }}" method="post" class="catalog-filter">
		{% for module in catalog.sidebar_filter %}

			<details class="catalog-filter__fieldset accordion">
				<summary class="catalog-filter__title accordion__header">{{ module.header }}</summary>
				<div class="accordion__content">
				{% for item in module.fieldset %}
					{% if item.type == "checkbox" %}
						{% include '/field-checkbox.twig' %}
					{% elseif item.type == "radio" %}
						{% include '/field-radio.twig' %}
					{% endif %}
				{% endfor %}
				</div>
			</details>

		{% endfor %}

		<button type="submit" class="button button--primary">{{ catalog.sidebar_button_text }}</button>

	</form>

</aside>
