<section class="catalog">
	<header>
		<h2 class="catalog__header section-header">{{ index.catalog.header }}</h2>
		<div class="catalog__controls">
			<a class="catalog__controls-button button button--large" href="#">See all</a>
			<button class="catalog__controls-button button button--large"><img src="#" alt="left arrow"></button>
			<button class="catalog__controls-button button button--large button--primary"><img src="#" alt="right arrow"></button>
		</div>
	</header>
	<ul class="catalog__list">
		{% for item in index.catalog.list %}
			<li class="catalog__item">{% include "/product_item.twig" %}</li>
		{% endfor %}
	</ul>
</section>
