<aside class="sidebar">

	<form action="{{ catalog.sidebar_action }}" method="post" class="catalog-filter">
		{% for module in catalog.sidebar_filter %}

			<div class="catalog-filter__fieldset">
				<h4 class="catalog-filter__title">{{ module.header }}</h4>

				{% for item in module.fieldset %}
					{% if item.type == "checkbox" %}
						{% include '/field-checkbox.twig' %}
					{% elseif item.type == "radio" %}
						{% include '/field-radio.twig' %}
					{% endif %}
				{% endfor %}
			</div>

		{% endfor %}

		<button type="submit" class="button button--primary">{{ catalog.sidebar_button_text }}</button>

	</form>

</aside>
