<div class="catalog-filter">

<input type="checkbox" id="catalog-filter-toggler" class="catalog-filter__toggler"/>
<label for="catalog-filter-toggler" class="button button--large catalog-filter__filter-button desktop-hidden">Filter</label>

<aside class="sidebar catalog-filter__sidebar mobile-hidden desktop-visible">

	<form action="{{ catalog.sidebar_action }}" method="post" class="catalog-filter__form">
		{% for module in catalog.sidebar_filter %}

			<details class="catalog-filter__fieldset accordion">
				<summary class="catalog-filter__title accordion__header">{{ module.header }}</summary>
				<div class="catalog-filter__options accordion__content">
				{% for item in module.fieldset %}
					{% if item.type == "checkbox" %}
						{% include '/field-checkbox.twig' %}
					{% elseif item.type == "radio" %}
						{% include '/field-radio.twig' %}
					{% endif %}
				{% endfor %}
				</div>
			</details>

		{% endfor %}

		<button type="submit" class="catalog-filter__button button button--primary">{{ catalog.sidebar_button_text }}</button>

	</form>

</aside>


</div>