{% from "ui/picture.twig" import picture %}

<article class="product-item">

	{{ picture(
			"product-item__picture",
			item.picture.src,
			item.picture.sources,
			item.picture.alt,
			item.picture.width,
			item.picture.height,
			"center",
			"cover"
		) }}

	<span class="product-item__label item-label
	{% if item.label == "Sold out" %}
	item-label--accent
	{% endif %}
	">{{ item.label }}</span>
	<p class="product-item__price">{{ item.price}}</p>
	<h3 class="product-item__name">{{ item.name}}</h3>
</article>
