{% from "ui/picture.twig" import picture %}

<article class="product-item">

	{{ picture(
			"product-item__picture",
			item.picture.srcMobile,
			item.picture.alt,
			'280',
			'324',
			"cover",
			item.picture.srcTablet,
			item.picture.srcDesktop,
			item.picture.srcDesktopLg
		) }}

	<span class="product-item__label item-label
	{% if item.label == "Sold out" %}
	item-label--accent
	{% endif %}
	">{{ item.label }}</span>
	<p class="product-item__price">{{ item.price}}</p>
	<h3 class="product-item__name">{{ item.name}}</h3>
</article>
