<section class="sidebar-categories">
	<h2 class="sidebar-categories__header">{{ blog.aside.categories.header }}</h2>
	<hr>
	<ul class="sidebar-categories__list">
		{% for item in blog.aside.categories.list %}
			<li class="sidebar-categories__item">
				<a href="{{ item.link }}" class="sidebar-categories__link">{{ item.text }}
					({{ item.count }})</a>
			</li>
		{% endfor %}
	</ul>
</section>
