{% set page="catalog.html" %}

{% extends 'src/templates/layouts/base.twig' %}

{% from 'src/templates/partials/ui/icon.twig' import icon %}

{% block content %}

	{% include 'src/templates/partials/page_title.twig' with { page_header:catalog.header, breadcrumbs_array:catalog.breadcrumbs } %}

	<div class="content-wrapper content-wrapper--catalogpage">

		{% include 'src/templates/partials/catalog_filter.twig' %}

		<div class="catalog-full">

			<div class="catalog-full__title">

				<div class="catalog-full__title-content">

					<h2 class="catalog-full__header section-header">{{ catalog.list.header }}</h2>

					{% include 'src/templates/partials/select.twig' with { options_array:catalog.sort } %}

				</div>

				<div class="catalog-full__title-search">{% include 'src/templates/partials/search.twig' with { item:catalog.search } %}</div>

			</div>

			{% include 'src/templates/partials/catalog_full_content.twig' %}

		</div>

	</div>

{% endblock %}
