<!doctype html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				{{ common.siteTitle }}
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="/src/styles/pages/main.scss">
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide-core.min.css" rel="stylesheet">
	</head>
	<body>
		{% include '../partials/header.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include '../partials/footer.twig' %}


		<script>
			const burger_button = document.querySelector('.js-burger-button');
			const burger_dropdown = document.querySelector('.js-burger-dropdown');

			burger_button.addEventListener('click', () => {
			burger_button.classList.toggle('show-x');
			burger_dropdown.classList.toggle('show');
			});
		</script>


	</body>
</html>
