@use 'variables' as *;

body {
    font-family: $ff-primary;
    background-color: $body-bg-color;
    color: $color-primary;
    min-width: $mobile-w;
}

a {
    color: $color-primary;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

*:empty {
    margin: 0;
    padding: 0;
}

@each $name, $value in $breakpoints {
    .#{$name}-hidden {
        @media (min-width: $value) {
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
            z-index: -1;
        }
    }

    .#{$name}-visible {
        @media (min-width: $value) {
            opacity: 1;
            width: auto;
            height: auto;
            position: static;
            overflow: visible;
            z-index: 0;
        }
    }
}