@use 'variables' as *;

body {
    font-family: $ff-primary;
    background-color: $body-bg-color;
    color: $color-primary;
    min-width: $mobile-w;
}

a {
    color: $color-primary;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

*:empty {
    margin: 0;
    padding: 0;
}

@media (min-width: $mobile-w) and (max-width: $tablet-w) {
    .mobile-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
}

@media (min-width: $tablet-w) and (max-width: $desktop-w) {
    .tablet-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
}

@media (min-width: $desktop-w) and (max-width: $large-desktop-w) {
    .desktop-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
}

@media (min-width: $large-desktop-w) {
    .large-desktop-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
}