@use 'variables' as *;

body {
    font-family: $ff-primary;
    background-color: $body-bg-color;
    color: $color-primary;
}

a {
    color: $color-primary;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

*:empty {
    margin: 0;
    padding: 0;
}