@use '../base/variables' as *;


@mixin mixin-button-color($btn-bg-color) {
    background-color: $btn-bg-color;
    
    @if $btn-bg-color == transparent {
        border: 2px solid $seporator-color;
    }
    @else {
        border: 2px solid $btn-bg-color;
    }
}


@mixin mixin-button-size($btn-fs, $btn-lh) {
    font-size: $btn-fs;
    line-height: $btn-lh;
}