@use '../base/variables' as *;
@use 'sass:map';

@mixin mobile {
    @media (min-width: map.get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: map.get($breakpoints, tablet)) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: map.get($breakpoints, desktop)) {
        @content;
    }
}


@mixin large-desktop {
    @media (min-width: map.get($breakpoints, large-desktop)) {
        @content
    }
}