/* text colors */
$color-primary: #F5F8FB;
$color-secondary: #EFF5FAD1;
$color-thirdly: #F8F7FF;


/* background colors */
$body-bg-color: #0D0D15;
$card-bg-color: #1D1C28;
$card-bg-color-secondary: #1A1925;
$blockquote-bg-color: #002754;


/* additional colors */
$separator-color: #D0D7FB2B;
$separator-color-secondary: #BFC5EE1F;
$placeholder-color: #E7EEF7A8;
$accent-color: #0265DC;
$negative-color: #EA3829;
$link-color: #78BBFA;
$check-color: #D4D9F242;
$check-active-border: #B5DEFF;
$textarea-focus: #96CEFD;
$dropdown-bg-color: #202631;
$blockquote-icon-color: #E7F1FD7D;
$blockquote-stroke-color: #000000;
$blockquote-shadow-color: #00000040;
$text-shadow-color: rgba(255, 255, 255, 0.4);


/* state colors */
$accent-color-focus: #3892F3;
$accent-color-active: #0054B6;
$separator-color-disabled: #E5ECFB5C;
$background-color-disabled: #D0D7FB2B;


/* font-family */
$ff-primary: 'Poppins', 'Arial', sans-serif;
$ff-secondary: 'Bakbak one', 'Verdana', sans-serif;


/* letter-spasing */
$ls-s: -0.5px;


/* line-heights */
$lh-xxs: 16px;
$lh-xs: 20px;
$lh-s: 24px;
$lh-m: 28px;
$lh-l: 32px;
$lh-xl: 36px;
$lh-xxl: 48px;
$lh-xxxl: 62px;


/* font-weight */
$fw-s: 400;
$fw-m: 500;
$fw-l: 600;


/* font-size */
$text-fs-xxs: 12px;
$text-fs-xs: 14px;
$text-fs-s: 16px;
$text-fs-m: 18px;
$text-fs-l: 20px;
$text-fs-xl: 24px;
$text-fs-xxl: 28px;

$header-fs-s: 36px;
$header-fs-m: 52px;


/* border-width */
$border-width-xs: 1px;
$border-width-s: 2px;
$border-width-m: 3px;
$border-width-l: 4px;
$border-width-xl: 5px;


/* border-radius */
$border-radius-xxxxs: 1px;
$border-radius-xxxs: 2px;
$border-radius-xs: 4px;
$border-radius-s: 5px;


/* input size */
$radio-size: 16px;
$checkbox-size: 16px;


/* content sizes */
$content-width-m: 1600px;
$content-width-s: 1024px;
$page-title-height: 375px;
$blog-sidebar-width: 328px;
$catalog-sidebar-width: 320px;
$contact-form-width: 640px;
$textarea-height: 160px;
$banner-width: 866px;
$blog-item-width: 784px;
$counted-item-width: 376px;
$card-width: 300px;
$footer-info-width: 320px;
$footer-navigation-height: 120px;
$footer-navigation-width: 150px;
$contacts-info-item-width: 328px;


/* spacing */

$space-xs: 4px;

$space-s-minus: 6px;
$space-s: 8px;
$space-s-plus: 10px;

$space-m-minus: 12px;
$space-m: 16px;
$space-m-plus: 18px;

$space-l-minus: 20px;
$space-l: 24px;
$space-l-plus: 32px;

$space-xl-minus: 40px;
$space-xl: 64px;

$footer-top-space: 104px;