/* colors */
$main-color: #F5F8FB;
$text-color: #F8F7FF;
$text-color-secondary: #EFF5FAD1;

$body-bg-color: #0D0D15;
$accent-color: #0265DC;
$border-color: #D0D7FB2B;
$negative-color: #EA3829;
$placeholder-color: #E7EEF7A8;

$card-bg-color: #1D1C28;
$card-bg-color-secondary: #1A1925;

$blockquote-bg-color: #002754;
$article-link-color: #78BBFA;


/* font-family */
$font-primary: 'Poppins', 'Arial', sans-serif;
$font-secondary: 'Bakbak one', 'Verdana', sans-serif;